In [2]:
import pandas as pd
import json
import os
from selenium.webdriver import ChromeOptions
from selenium.webdriver.common.by import By
from selenium import webdriver

In [12]:
df = pd.read_csv('scraper_list/classification_list.csv')

In [13]:
len(df)

130972

In [14]:
df.head()

   classification
0      G06F3/0414
1     H04M1/72403
2  G06F2203/04101
3       H04M1/725
4     H04M1/72436